.account-card {
    text-align: center;
    /* margin: 0 auto; */
}

.account-link-button {
    margin-left: 5px;
}

.account-button {
    margin-bottom: 12px;
    margin-left: 5px;
    position: relative;
}

.account-button-new {
    width: 70%;
}